.App {
	margin: 0;
	padding: 0;
}
.NavBar-Container {
	display: flex;
	justify-content: space-around;
	text-align: center;
	background-color: white;
	width: 100vw;
}
.NavBar-Parts {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: lightcoral;
}

.NavBar-Logo {
	width: 100px;
	text-align: center;
}

.NavBar-Icons {
	color: #20ded3;
	cursor: pointer;
	font-size: 20px;
}

.NavBusqueda {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

.NavBusqueda-Busqueda {
	display: block;
	width: 250px;
	height: 40px;
	border-radius: 7px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	border-style: hidden;
}

.NavBusqueda-Icon {
	color: gray;
	cursor: pointer;
}

.Ubicacion {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

.Ubicacion-Icon {
	color: gray;
	margin-left: 12px;
	cursor: pointer;
}

.Ubicacion-Busqueda {
	align-items: center;
	width: 250px;
	height: 40px;
	border-radius: 7px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	cursor: pointer;
	border-style: hidden;
}
