.supliersForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.supliersForm > input {
	width: 70%;
	height: 25px;
	padding: 5px;
	border-radius: 7px;
	border-style: hidden;
}

.supliersForm > input:focus {
	outline-color: #dddddd;
	box-shadow: 0 0 3pt 2pt #dddddd;
}

.supliersForm > label {
	padding: 5px;
	color: white;
	font-size: 18px;
	align-items: flex-start;
}
.supliersForm > select {
	width: 70%;
	height: 25px;
	padding: 5px;
	border-radius: 4px;
	border-style: hidden;
}
.supliersForm > button {
	padding: 10px;
	margin: 7px;
	color: #20ded3;
	background-color: white;
	border-radius: 4px;
	border-style: hidden;
}
.supliersForm > button:hover {
	background-color: #20ded3;
	color: white;
}

.titleH1Form {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formContainer {
	width: 100%;
	height: 100%;
	padding-bottom: 50px;
}
.logo {
	display: flex;
	align-items: center;
	width: 100%;
}
