body {
    background-color: rgb(205, 255, 251);
}

Carousel.Item {
    height: 100%;
}

.container-slider {
    max-height: fit-content;
}
img {
    height: 200px;
}

h3, p {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black

}