.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f6fba2;
  background-image: linear-gradient(315deg, #f6fba2 0%, #20ded3 74%);


  font-family: Montserrat;
}

.clientForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clientForm > input {
width: 70%;
height: 30px;
padding: 5px;
border-radius: 7px;
border-style: hidden;
}

.clientForm > select {
  width: 70%;
  height: 30px;
  padding: 3px;
  border-radius: 7px;
  border-style: hidden;
  }
.clientForm > input:focus {

outline-color: #DDDDDD;
box-shadow: 0 0 3pt 2pt #DDDDDD;
}

.clientForm > label {
  padding: 5px;
  color: white;
  font-size: 18px;
  align-items: flex-start;
}
.clientForm > select {
  width: 70%;
  height: 25px;
  padding: 5px;
  border-radius: 4px;
  border-style: hidden;
}
.clientForm > button{
  padding: 10px;
  margin: 7px;
  color: #20ded3;
  background-color:white;
  border-radius: 4px;
  border-style: hidden;
}
.clientForm > button:hover{
  background-color:#20ded3;
  color: white;
}

.titleForm {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
.logo {
   display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}